body {
  margin: 0px;
  padding: 0px;
}

header {  
  background-image: url('images/header.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

header h1, header h3 {
  text-align: center;
  color: white;
  padding: 20px;
}

.container{
  display:flex;
}
aside, main {  
  box-sizing: border-box;
  padding: 20px;
}

aside {
  width: 20%;  
}

aside ul{
  background-color: #eee;  
}

main {
  width: 80%;
}

#infos{
  display:flex;
  flex-basis:33.33%;
}
#infos img, #infos table, #infos .voisins{
  flex-basis:33.33%;
  padding:10px;
}
#infos img{
  width:200px;
}

caption, th {
  font-weight: bold;
}

.voisins h4 {
  margin-top: 0px;
}

table, td{
  border:solid 1px black;
  border-collapse: collapse;
}